/* Menu Wrap Container */


body {
    background-color: bisque;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}
main {
    flex: 1; /* takes up remaining space */
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000 ;
    padding: 10px 20px;
    box-shadow: 5px 10px grey;

}

header H1{
    color: rgb(204, 216, 228);
    margin: 0;

    
}

nav {
    background-color: hsla(0, 10%, 64%, 0.453); /* semi-transparent black */
    width: 110%;                                /* full width */
    display: flex;
    justify-content: center;                     /* center the ul */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background 0.4s;
}

nav ul li a:hover {
    background-color: #585858;;
}

.menu-wrap {
    width: auto;
    height: auto;
    display: grid;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    gap: 29px;

}

.menu-card{
    margin-top: 20px;
    width: 190px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-card img{
    align-self: center;
    margin-top: 10px;
    border-radius: 20px;
}

.menu-info {
    display: flex;
    justify-content: space-between; /* span left, p right */
    width: 90%;                    /* fill the card width */
    padding: 0 10px;                /* optional spacing */
    margin-top: 10px;
    align-items: center;            /* vertically center if p is taller */
}

.menu-info span {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.menu-info p {
    margin: 0;
    font-size: 0.95em;
    color: #555;
}