# Ignore PHP config files
config/config.php

# Ignore log files
*.log

# Ignore third-party libraries
libs/

# Ignore node_modules folder (if using Node)
node_modules/

# Ignore compiled files
*.exe
*.dll

# Ignore OS files
.DS_Store
Thumbs.db
