body{
    margin: 0;
    padding: 0;
}
/*---------------- Header ---------------- */
.container {
    display: flex;
}
header {
    background-color: rgba(165, 42, 42, 0.8);
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding: 0 20px;
}
.head-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.welcome h1 {
    margin: 0;
    color: white;
    font-size: 24px;
}

/* Buttons */
.button-group a {
    display: inline-block;
    padding: 8px 15px;

    margin-right: 25px;
    background-color: #A52A2A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s, transform 0.2s;
}

.button-group a:hover {
    background-color: #8B1A1A;
    transform: translateY(-2px);
}

.button-group a:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


/*---------------- Side Navigation ---------------- */
.sidenav{
    height: calc(100vh - 25px);
    width: 140px;
    top: 40px;
    background-color: rgba(165, 42, 42, 0.61);
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav ul li {
    padding: 8px 16px;

}
/* ---------------- Main ---------------- */
.main {
    flex: 1;
    background-color: beige;
    height: calc(100vh - 20px);
    width: calc(100vh - 150px);
    padding-left: 10px;
    padding-top: 15px;
    box-shadow: 
        inset -4px 0 6px rgba(0,0,0,0.3),   /* left shadow */
        inset 0 -4px 6px rgba(0,0,0,0.3);  /* top shadow */
}

.main h1{
    margin: 0;

}